#features {
    height: 100vh;
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#features-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 50px;
}

#features-container {
    width: 1300px;
}

.frames-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.features-frames {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.features-frame-img {
    height: 100%;
    width: 100%;
}