#footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 20px;
}

.send-message {
    width: 50%;
    text-align: left;
}

#footer-container {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.company-info-footer {
    text-align: left;
}

.company-info-list {
    list-style-type: none;
    padding-left: 0;
}

.company-info-list li {
    margin-top: 30px;
    font-size: 14px;
}